/* Quiz Container */
.quiz-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  /* Question */
  .question {
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .question h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .question img {
    max-width: 100%;
    height: 250px;
    margin: 10px 0;
  }
  
  
  /* Answer Options */
  .answer-options {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .answer-option {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px;
  }
  
  .answer-option.selected {
    background-color: #007bff;
    color: #fff;
  }
  
  /* Next Button */
  .next-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .next-button:hover {
    background-color: #0056b3;
  }

   /* Prev Button */
   .prev-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
  }
  
  .prev-button:hover {
    background-color: #0056b3;
  }
  