/* SubscriptionForm.css */
.subscription-form-container {
    background-color: #f0f8ff; /* Light blue background color */
    padding: 20px;
    border: 2px solid #0073e6; /* Border color */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    height: 220px;
    margin: 0 auto;
  }
  
  h2 {
    color: #333; /* Dark text color */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="email"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  button[type="submit"] {
    background-color: #0073e6; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Button background color on hover */
  }
  